
 <!-- Start Page Title Area -->
 <div class="page-title-area">
  <div class="container">
      <div class="page-title-content">
         
      </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Login Area -->
<div class="row " >
    
  <div class="col-sm-4 checkbox-radios" >
      <div class="form-check form-check-radio">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadio1"
            id="exampleRadio1"
            
           
            value="developpeur"
            (click)="choix1()"
          />
          <span class="form-check-sign"></span> JE SUIS UN DEVELOPPEUR
        </label>
      </div>
      
      </div>
      
  <div class="col-sm-4 form-check-radio " >
      <div class="form-check form-check-radio">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadio1"
          id="exampleRadio1"
          value="entreprise"
          (click)="choix2()"
        />
        
        <span class="form-check-sign"></span> JE SUIS UNE ENTREPRISE
      </label>
    </div>
   </div>
  </div>


   
    <div class="row">

      <div class="container">   
		<div  *ngIf="hide1"  class="col-md-4 login-sec">
		    <h2 class="text-center">{{'test.login4' | translate}}</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">{{'test.login1' | translate}}</label>
    <input type="text" class="form-control" placeholder="{{'test.login1' | translate}}">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">{{'test.login2' | translate}}</label>
    <input type="password" class="form-control" placeholder="{{'test.login2' | translate}}">
  </div>
  
  
    <div class="form-check">
    
    <button type="submit" class="btn btn-login float-right"> {{'test.login4' | translate}}</button>
  </div>
  
  <div  class="form-group">
    Vous n'avez pas de compte?<a [routerLink]="['/loginfr']">{{'test.login' | translate}}</a>

    <a [routerLink]="['/resetpwd']">{{'test.login5' | translate}}</a>
</div>
</form>

<div class="copy-text">
    <span><i class="fab fa-facebook-square"></i></span>
    <span><i class="fab fa-google-plus-square"></i></span>
    <span><i class="fab fa-twitter-square"></i></span>
</div>
    </div>
      </div>
  
    

      <div class="container">  
    <div    *ngIf="hide2" class="col-md-4 login-sec">
      <h2 class="text-center">{{'test.login4' | translate}}</h2>
      <form class="login-form">
<div class="form-group">
  <label for="exampleInputEmail1" class="text-uppercase">{{'test.login7' | translate}}</label>
  <input type="text" class="form-control" placeholder="{{'test.login7' | translate}}">
  
</div>
<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">{{'test.login6' | translate}}</label>
  <input type="password" class="form-control" placeholder="{{'test.login6' | translate}}">
</div>

<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">{{'test.login1' | translate}}</label>
  <input type="password" class="form-control" placeholder="{{'test.login1' | translate}}">
</div>

<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">{{'test.login2' | translate}}</label>
  <input type="password" class="form-control" placeholder="{{'test.login2' | translate}}">
</div>

<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">{{'menu2.item2' | translate}}</label>
  <input type="password" class="form-control" placeholder="{{'menu2.item2' | translate}}">
</div>

<div class="form-group">
  <label for="exampleInputPassword1" class="text-uppercase">{{'contact.contact4' | translate}}</label>
  <input type="password" class="form-control" placeholder="{{'contact.contact4' | translate}}">
</div>


  <div class="form-check">
  
  <button type="submit" class="btn btn-login float-right"> {{'test.login4' | translate}}</button>
   </div>

<div  class="form-group">
  Vous n'avez pas de compte?<a [routerLink]="['/loginfr']">{{'test.login' | translate}}</a>

  <a [routerLink]="['/resetpwd']">{{'test.login5' | translate}}</a>
</div>
</form>

<div class="copy-text">
  <span><i class="fab fa-facebook-square"></i></span>
  <span><i class="fab fa-google-plus-square"></i></span>
  <span><i class="fab fa-twitter-square"></i></span>
</div>
  </div>
  </div>



</div>

<!-- End Login Area -->